
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
}
body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculator{
    border: 1px solid #020202;
    padding: 20px;
    border-radius: 20px;
    background: grey;
    box-shadow: 0px 3px 15px rgba(90, 91, 92, 0.5);

}

input{
    width: 320px;
    border: none;
    padding: 20px;
    margin: 10px;
    background: rgb(70, 73, 70);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: black;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: white;
    color: #171616;
    font-size: 22px;
    cursor: pointer;

}
button:hover{
    background:#262627;
    color: #FFFFFF
}

.equal{
    background-color: #69e969;
}

.operator{
    background-color: rgb(91, 236, 236);
    font-size: 20px;
    
}

.clear{
    background-color: rgb(244, 85, 85);
}

.del{
    background-color: rgb(238, 189, 97);
}